body {
  background-color: #e8e8e8;
}

/*.logo {
  margin: 50px 0 0 0;
}*/

.intro {
  text-align: center;
}

.search-query {
  margin-top: 5px;
}

#viewList, #viewListBottom {
  margin-top: 10px;
}

.navbar-inner {
  padding-bottom: 5px;
}

.clear {
  margin-left: 10px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 5px 5px 5px 5px;
  float: left;
  list-style: none;
  color: #e8e8e8;
  text-align: center;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.item h5 {
  margin-top: 25px;
}

.item:last-child {
  margin-bottom: 75px;
}

.aisle1 {
  background-color: #1c8819;
}

.aisle2 {
  background-color: purple;
}

.aisle3 {
  background-color: orange;
}

.aisle4 {
  background-color: #3882e8;
}

.aisle5 {
  background-color: #ef27b0;
}

.aisle6 {
  background-color: #b82d0d;
}

.aisle7 {
  background-color: #079e95;
}

.totalItems h5 {
  float: right;
  margin-right: 50px;
}

.incart-true {
  opacity: .2;
}

.bought-true {
  opacity: .2;
}

#newProductForm {
  float: left;
}

.newProduct {
  margin-left: 20px;
}

.lastButton {
  text-align: center;
}

.navbar #viewList {
  float: right;
}

.navbar #viewListBottom {
  float: right;
  margin-right: 20px;
}

#chooseShopper, .btn {
  vertical-align: top;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}



