/*<<<<-------- Media Queries --------->>>>*/
@media screen and (max-width: 979px){
 .navbar-fixed-top {
 	position: fixed;
 	margin-left: 0px;
 	margin-right: 0px;
 }
 body {
 	padding-top: 60px;
 }
}


@media screen and (max-width: 850px){
  .item {
  	width: 80px;
  	height: 80px;
  	-moz-border-radius: 10px;
	  border-radius: 10px;
  }

  .item h5 {
  	margin-top: 10px;
	  font-size: 1.2em;
	}

	.item {
		font-size: .8em;
	}
}

@media screen and (max-width: 769px){
 #app {
 	padding-left: 0px;
 	padding-right: 0px;
 }
}

@media screen and (max-width: 700px){
 #chooseAisle, .newProduct {
 	width: 150px;
 }

}

@media screen and (max-width: 550px){
  .item {
  	width: 63px;
  	height: 63px;
  	-moz-border-radius: 8px;
	  border-radius: 8px;
	  margin: 3px 3px 3px 3px;
  }

  .item h5 {
  	margin-bottom: 0;
	  font-size: 1em;
	  line-height: 1.5em;
	}

	.item {
		font-size: .7em;
	}

	#intro h5 {
		font-size: .9em;
		margin-bottom: 0px;
		display: none;
	}

	#intro h4 {
		font-size: 1.1em;
		display: none;
	}

	.search-query {
		width: 150px;
	}

	.navbar #viewListBottom {
		float: left;
	}

	.bottomButton {
		display: none;
	}

	.item:last-child {
	  margin-bottom: 25px;
	}

}

@media screen and (max-width: 420px){
	.productArea {
		width: 100%;
	}

  .search-query {
		width: 100px;
	}
	.back {
		max-width: 87px;
	}

	#chooseAisle {
		margin-left: 20px;
	}

	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
	  padding-left: 5px;
	  padding-right: 5px;
	}

	.clear {
	  margin-left: 0px;
	}
}

@media screen and (max-width: 350px){
  .search-query {
		width: 80px;
	}

	.navbar-static-top {
		padding: none;
	}
}