<div class="row-fluid">
	<div class="span8 offset2 intro">
		<a href="#"><img src="images/shopping_small.png"></a>
			<h4><span id="user"></span>, buy these things in your cart:</h4>
	</div>
	<div class="span10 offset1 totalItems">
		<h5>Total Items Bought: <span id="totalItemsBought"></span> out of <span id="totalItemsInCart"></span></h5>
	</div>
</div>