<div class="row-fluid">
  <div class="span4 offset4 intro">
    <img class="logo" src="images/shopping.png">
    <h4>Which Sealock Are You?</h4>
    <form id="chooseShopperForm" name="chooseShopperForm">
      <select id="chooseShopper">
        <option value="placeholder">Choose a family member...</option>
      </select>
      <input class="btn" type="submit" value="Go!">
    </form>
  </div>
</div>