<div class="navbar .navbar-static-top">
	<div class="navbar-inner">
	<div>
	  <form class="navbar-search">
		  <input type="text" class="search-query" placeholder="Search">
		  <input class="btn clear" type="button" value="Clear">
	  </form>
	</div>
	<button class="btn btn-success" type="button" id="viewList">Back to Products</button>
	</div>
</div>