<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<button class="btn" id="reset" type="button">Clear Cart</button>
		<button class="btn btn-success" type="button" id="viewList">Back to Products</button>
	</div>
</div>