<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<form class="navbar-text form-horizontal" id="newProductForm" name="newProductForm">
			<input class="newProduct" type="text" placeholder="Add a new product">
			<select id="chooseAisle">
				<option>Choose an Aisle</option>
				<option value="1">Aisle 1 (produce)</option>
				<option value="2">Aisle 2 (bulk items)</option>
				<option value="3">Aisle 3 (bread/frozen)</option>
				<option value="4">Aisle 4 (cheese/prepared foods)</option>
				<option value="5">Aisle 5 (cans/pasta/meat)</option>
				<option value="6">Aisle 6 (dried goods)</option>
				<option value="7">Aisle 7 (chocolate/chips)</option>
			</select>
			<input class="btn addOne" type="submit" value="Add">
		</form>
		<button class="btn btn-success bottomButton" type="button" id="viewListBottom">View Cart (<span class="totalItemsInCart"></span>)</button>
	</div>
</div>